<div>
      <h3><span class="label label-danger">自娱自乐</span> de <span class="label label-warning">空间</span></h3>
  </div>  
    <!--main_heading end here--> 
    <div class="row">   
    <div class="col-9"> <br/>
     <h4>关于网页</h4><br/><p style="font-size:14px">其实这个网页在2年前就写好了，后来计划太多，慢慢就荒废下来了，然后开始研究WordPress,就用WordPress替代了之前的主页。最近开始重新对CSS，Javasript,HMTL感兴趣，刚好bootstrap 3 release,于是尝试了一下用新的bootstrap重新排版了这个网页，计划慢慢再加入对mobile的支持，然后尽量的把自己各种感兴趣的东西集中的放在这里，算是一个自娱自乐的地方。</p>
      <br/>
      <h4>关于我</h4><br><p style="font-size:14px">我算是一个兴趣广泛的人。对各种新的技术，有着强烈的兴趣，但从来提留与表面的理解，很少真正的对其进行深入的研究。所以学的很杂，什么都懂点皮毛，从CISCO的小型switch<span class="label label-success">3</span>到Avaya的各种PBX<span class="label label-success">8</span>，从AWS的各种服务<span class="label label-success">6</span>,到用WordPress建站<span class="label label-success">8</span>，会点PHP<span class="label label-success">5</span>，比较精通C#<span class="label label-success">8</span>，但也兼顾关注着各种HTML 5<span class="label label-success">6</span>和CSS 3<span class="label label-success">7</span>，Javascript<span class="label label-success">8</span> 等等新的东西。<br/>同时爱好拍照<span class="label label-success">3</span>，喜欢画画<span class="label label-success">3</span>，但基本都处于自娱自乐的业余水准，试着努力地从中寻找到一种自己的风格。<br/>
      <h4><span class="label label-info"><span class="label label-success">数字</span> 代表 1 - 10 的技能值</span></h4> 
    <br/>
    </div>
    <div class="col-3">
        <h3>Me / 我</h3> 
        <!--right_side start here-->
        <div> <a href="#" class="clients"><img src="../images/Me.png"  alt="" /></a> </div>
        <!--right_side end here--> 
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <h4>知行合一</h4><br>
          <blockquote>
            <p>知是行之始，行是知之成。若會得時，只說一箇知，已自有行在。只說一箇行，已自有知在。</p>
            - <cite title="Source Title">王阳明</cite>
          </blockquote>
      <h4>享受生活</h4><br>
          <blockquote>
            <p>人生苦短，必须性感。</p>
            - <cite title="Source Title">樱桃小丸子</cite>
          </blockquote>
    </div>
      <!--side_border end here--> 
