 <div class="jumbotron">
      <h1><%= title %></h1>
      <p class="pull-right">对不起，网页还在建设中...</p>
      <p style="margin-top:75px"><a href="/index" class="btn btn-primary btn-lg">回到主页</a></p>
  <div style="height : 50px"></div>
  </div>
    <div class="col-4"></div>
    <div class="col-2"><a class="clients"><img src="/images/Minion-Happy-icon.png"  alt="" /></a></div>