<div class="jumbotron">
      <h4>Lab List</h4>
      <ul>
      	<li><a href="/MyLab/Angular">Angular JS</a></li>
      	<li><a href="/MyLab/impressJS">Impress JS 演示</a></li>
      	<li><a href="/calStock">SGX Calculator</a></li>
      	<li><a href="/chatRoom">node 聊天室</a></li>
      	<li><a href="/MyMap">Googole Map Current location</a></li>
      	<li><a href=""></a>etc</li>
      </ul>
</div>